*{
    margin: 0;
    padding: 0;
}
.text-left{
text-align: left;
}
.text-center{
text-align: center;
}
.text-right{
text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
.a{
    text-decoration: none;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}

/* begain main css */

body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}
.header-section{
    background-color: #fff;
    border-bottom:1px solid #ddd;
    padding: 6px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}
.header-section a{
    color: #010101;

}


.header-logo{
width: 30%;
}
.logo span{
    display: inline-block;
    margin-top: 14px;
font-size: 25px;
font-weight: 500;
}
.logo img{
    height: 60px;
    float: left;
    margin-right: 10px;
}
.header-menu{
    width: 60%;
 }

.header-button{
    width: 10%;
    text-align: right;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 20px;
    font-size: 16px;
  line-height: 55px;
}
.primary-menu ul li a:hover{}


.header-btn{
    display: inline-block;
    border: 2px solid #6275df;
    padding: 11px 21px;
    margin-top: 10px;
    border-radius: 10px;
  color: #6278df !important;
    font-size: 14px;
    font-weight: 600;
    
}



/* drowp down menu css */


.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
left: 0;
top: 100%;
width: 300px;
background: #fff;

opacity: 0;
visibility: hidden;
transition: .4s;
transform: scaley(0);
transform-origin: top center;

}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
transform: scaley(1);
}
/* banner css */
.banner-section{
    background: url(https://i.ibb.co/87nhkRT/mbr-4.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0;
    color: #fff;
    position: relative;
    z-index: 9;
}
.banner-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
background: rgba(0, 0, 0, .4);
z-index: -1;
}
.banner-content{}
.banner-content h3{
    font-size: 20px;
    font-weight: 400;
}
.banner-content h2{
    font-size: 60px;
    margin: 30px 0;

}
.default-btn{
    color: 7d7d7d;
    padding: 15px 30px;
    background: #fff;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    transition: .4s;
}

.default-btn:hover{
    background: #6278df;
    color: #fff;
}

/* banner section */


.banner-buttom{
background: #f7f9ff;
padding: 100px 0;
}
.video-left{
width: 48%;
}
.video-content-right{
    width: 48%;
}
.video-content-right h3{
 
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 35px;

}
.video-content-right p{
    color: #767676;
    font-size: 18px;
    line-height: 1.7em;
}

/* service section */
.service-section{
    background: #fff;
    padding: 80px 0;
}
.section-title h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.section-title p{
    color: #767676;
    font-size: 26px;
}
/* service iteml */
.services-item{
    margin-top: 90px;
    margin-left: 180px;
    margin-right: 180px;

}
.service-box{
    width: 28%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.2);
    margin-right: 2%;
    margin-bottom: 25px;
    padding: 20px;
    box-sizing: border-box;
    
    
}
.service-box:nth-child(3n+3){
margin-right: 0;
}
.s-icon{
    width: 35px;
    float: left;
    height: 180px;
    font-size: 30px;
    color: #6278df;
    margin-right: 8px;
}
.s-content{
    margin-top: 8px;
}
.s-content h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 25px;
}
.s-content p{
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}

/* pricing table css */

.pricing-table-section{
    background: #f7f9ff;
    padding: 50px;
   
}
.section-title h2{
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 20px;
font-weight: 300;

}ssssss

.pricing-tables{
    margin-top: 80px;
    margin-bottom: 60px;
}
.pricing-table-item{
    width: 31.3%;
margin-right: 2%;
background: #fff;
box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);

}
.pricing-table-item:hover .p-heading{
background: #6278df;
color: #fff;
}
.pricing-table-item:nth-child(3){
    margin-right: 0;
}
.p-heading{
    padding: 30px;
    border-bottom: 1px solid #ddd;
    
transition: .5s;
}
.p-content{
    padding: 30px;
}


.p-heading h4{
    font-size: 25px;
    font-weight: 500;
}
.p-heading h1{
    margin: 30px 0;
font-size: 50px;
}
.p-heading h1 span{
    font-size: 20px;

}
.p-heading h5{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 22px;
margin-top: 40px;
}
.p-heading p{
    font-size: 20px;
    line-height: 1.6em;
}

.p-content ul{
    list-style: none;

}
.p-content ul li span{
display: inline-block;
font-size: 35px;
color: #6278df;
width: 60px;
}
.p-content ul li{
    margin: 30 0;
    color: #767676;
font-size: 20px;
margin: 15px;
}

.p-buttom .default-btn{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .3);
}
.pricing-table-item:hover .default-btn{
    background: #6278df;
    color: #fff;
}

/* team section */

.team-section{
    padding: 50px 0;
margin-left: 90px;
}
.team-members{
    margin-top: 50px;
}

.member{
width: 20%;
margin-right: 2px;
background: #fff;
box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
margin: 12px;
}
.member img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.member-bio{
    padding: 30px;

}
.member-bio h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
 }
 .member-bio p{
    color: #767676;
    font-size: 18px;
    margin-bottom: 10px;
 }

 /* news letter */
.newsletter-section{
    background-color: #f7f9ff;
    padding: 100px 0;
}
.section-title.newsletter-title h2{
margin-top: 30px;
font-size: 50px;
}

.newslatter-form{
margin-top: 55px;
}
.default-input{
width: 350px;
padding: 20px 15px;
font-size: 20px;
border: 1px solid #f7f9ff;
border-radius: 10px;
transition: .4s;
box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
box-sizing: border-box;
}
.default-input:focus{
    
box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .5);
border: 1px solid #6278df;
}
.submit-btn{
background: #3b52b8;
font-size: 20px;
color: #fff;
border: none;
padding: 20px 60px;
font-weight: 500;
border-radius: 10px;
cursor: pointer;
display: inline-block;
margin-left: 20px;
border: 2px solid transparent;
transition: .4s;
box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
}
.submit-btn:hover{

    box-shadow: 3px 4px 30px 0 rgba(42, 68, 185, 0.3);
    background:#f7f9ff;
    color:  hsl(229, 57%, 47%);
    border: 2px solid #6275df;
}

/* blog section */
.blog-section{
    padding-top: 20px;
}
.blog-title{
padding: 60px 0;
}
.blog-items{

}
.b-heading{
    width: 50%;
  
}
.b-heading h2{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
}

.bt-content{
    width: 50%;
}
.bt-content p{
    color: #767676;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6em;
    margin-top: -20px;
}

.blog-post-item {
    width: 48%;
    background: #fff;
    margin-right: 20px;
    box-shadow: 3px 4px 30px 0 rgba(42, 68, 185, 0.3);
}
.blog-post-item img{
   float: left;
    width: 300px;
    margin-right: 30px;
}
.blog-post-item h3{
    
}
.blog-post-content h3{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;

}
.blog-post-content p{
    color: #767676;
    font-weight: 18px;
    line-height: 1.7em;

}
.blog-post-content{
    margin-top: 26px;

}
/* testimonial section */
.testimonial-section{
    padding: 100px 0;

}

.testimonial-items{ 
    margin-top: 100px;

}
.t-item{
    width: 31%;
    margin-right: 2%;

}
.t-item:last-child{
    margin-right: 0;
}

.t-content{
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(42, 68, 185, 0.3);
    padding: 50px 40px;
    box-sizing: border-box;
    margin-bottom: 42px;
    position: relative;
}
.t-content::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    margin: auto;
width: 0;
height: 0;
border-style: solid;
border-width: 20px 20px 0 20px;
border-color: #fff transparent transparent transparent;
}


.t-content p{
    color: #767676;
    font-size: 20px;
    line-height: 1.8em;
position: relative;
margin-bottom: 0;
}

.t-content p::before{
    content: "\f10d";
 
   font-size: 76px;
opacity: .3c;
position: absolute;
opacity: .2;
left: -17;
top: -4px;
}

.t-user-img img{
    border-radius: 50%;
    width: 75px;
float: left;
margin-right: 24px;

}
.t-user-img{
    width: 250px;
margin: auto;

}
.t-user-bio{
    position: relative;
    top: 10px;
}
.t-user-bio h4{
    font-size: 21px;
    font-weight: 500;
margin-bottom: 10px;

}
.t-user-bio span{
    display: block;
    color: #767676;
    font-size: 16px;

}

/* content section */
.content-section{
padding-top: 80px;

}
.contact-row{

}
.content-left-map{
width: 48%;
}
.content-right-form{
width: 48%;
margin-top: 40px;
}

.footer{
    padding: 20px 0;
    margin-top: 60px;
}
.footer-contact-form{
    margin-top: 60px;
}

.footer-contact-form .w100{
width: 100%;
}
.footer-contact-form .w50{
width: 48%;
}

.footer-contact-form .default-input{
    margin-bottom: 20px;
}

.footer-contact-form .submit-btn{
    margin-left: 0;
}

.footer-contact-form textarea{
    height: 200px;

}

.content-right-form h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content-right-form p{
    font-size: 21px;
    color: #767676;
    line-height: 1.8em;
}

.footer p{
font-size: 20px;

}










